/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


.carousel-inner img{ 
    margin:0 auto;
    width:300px;
    height:300px
}

